@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/pt-sans.ttf); }
@font-face {
  font-family: 'PT Sans italic';
  src: url(../fonts/pt-sans-italic.ttf); }
body {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  font-family: 'PT Sans';
  background-color: #fff; }

input, button {
  -webkit-appearance: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.row, p, ul, li {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

.slick-slide:focus {
  outline: none; }

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none; }

a, a:hover, a:active, a:visited, a:focus {
  outline: none;
  text-decoration: none; }

input:hover, input:focus, input:active, textarea:focus {
  outline: none; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

button:focus {
  outline: none;
  border: none; }

a {
  color: #fff; }

header {
  width: 100%;
  height: 70px;
  background-color: #0095FF; }
  header .header-content {
    width: 1000px;
    height: 70px;
    margin: 0 auto;
    padding: 8px 0; }
    header .header-content ul {
      display: flex;
      align-items: center; }
      header .header-content ul li {
        display: inline-block;
        list-style: none;
        color: #fff;
        font-size: 18px;
        margin: 0 15px; }

.wrapper {
  width: 100%;
  height: auto; }
  .wrapper h1 {
    width: 970px;
    margin: 50px auto 0 auto; }
  .wrapper-main-content {
    width: 1000px;
    height: auto;
    margin: 30px auto;
    display: flex;
    flex-flow: wrap; }
    .wrapper-main-content .game {
      width: 42%;
      height: 100px;
      border: 1px solid #0095FF;
      padding: 10px 20px;
      position: relative;
      margin: 15px auto; }
      .wrapper-main-content .game p {
        font-weight: 600; }
        .wrapper-main-content .game p span {
          color: #C4C4C4;
          font-weight: normal;
          font-family: "PT Sans italic"; }
      .wrapper-main-content .game .time {
        position: absolute;
        top: 20px;
        right: 30px;
        font-weight: normal; }
      .wrapper-main-content .game a {
        display: block;
        width: 45%;
        height: 25px;
        background-color: #DCDCDC;
        border: #DCDCDC;
        border-radius: 8px;
        color: #fff;
        margin: 20px auto;
        padding-top: 8px;
        text-align: center;
        font-size: 13px; }

footer {
  width: 100%;
  height: 70px;
  background-color: #0095FF;
  position: relative;
  bottom: 0;
  left: 0; }
  footer .footer-content {
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    padding-top: 8px; }
    footer .footer-content p {
      margin: 15px 0;
      text-align: center;
      color: #fff; }

/*# sourceMappingURL=games.css.map */
